In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

NAME : GOKULACHALAM.K
ROLL NO 20AD014
ASSIGNMENT : SIMPLE LINEAR REGRESSIION

In [24]:
#FOR BUILDIUNG A SIMPLE LINEAR REGRESSION MODEL I HAVE TAKEN THE HEIGHT AND WEIGHT DATASET
#MY MODEL WILL PREDICT THE HEIGHT A

In [25]:
df = pd.read_csv("data (1).csv")
df

    Height  Weight
0     1.47   52.21
1     1.50   53.12
2     1.52   54.48
3     1.55   55.84
4     1.57   57.20
5     1.60   58.57
6     1.63   59.93
7     1.65   61.29
8     1.68   63.11
9     1.70   64.47
10    1.73   66.28
11    1.75   68.10
12    1.78   69.92
13    1.80   72.19
14    1.83   74.46

In [26]:
df.head()

   Height  Weight
0    1.47   52.21
1    1.50   53.12
2    1.52   54.48
3    1.55   55.84
4    1.57   57.20

In [27]:
df.isnull().sum()

Height    0
Weight    0
dtype: int64

Now we need to find out the correlation between two variables

In [28]:
df.corr()

          Height    Weight
Height  1.000000  0.994584
Weight  0.994584  1.000000

Now, we need only the values of this independent variable and this independent variable should be 2 dimension array and we need also the dependent variable values. It is one dimension array

In [29]:
height=df.Height.values[:,np.newaxis]
weight=df.Weight.values
height
weight

array([52.21, 53.12, 54.48, 55.84, 57.2 , 58.57, 59.93, 61.29, 63.11,
       64.47, 66.28, 68.1 , 69.92, 72.19, 74.46])

Now, we need to normalize the variables or max-mix scaling the variables.

Formula:- Xnormal=(X-Xmin)/(Xmax-Xmin), where X is the values, Xman is the maximum value of the X and Xmin is the minimum value of this X.

In [30]:
Heightmin=height.min()
Heightmax=height.max() 
Heightnorm=(height-Heightmin)/(Heightmax-Heightmin)
Weightmin=weight.min()
Weightmax=weight.max()
Weightnorm=(weight-Weightmin)/(Weightmax-Weightmin)
Heightnorm
Weightnorm

array([0.        , 0.04089888, 0.10202247, 0.16314607, 0.22426966,
       0.2858427 , 0.34696629, 0.40808989, 0.48988764, 0.55101124,
       0.63235955, 0.7141573 , 0.79595506, 0.89797753, 1.        ])

we can apply the Linear Regression Model. In this sklearn library has an inbuilt method for this linear model.

In [31]:
import sklearn.linear_model as lm
lr=lm.LinearRegression() 
lr.fit(height,weight)

LinearRegression()

e need to find out the value of the weight, when the height value is 3

In [32]:
df["predicted_value"]=lr.predict(height)
df.head()

   Height  Weight  predicted_value
0    1.47   52.21        51.008158
1    1.50   53.12        52.846324
2    1.52   54.48        54.071768
3    1.55   55.84        55.909933
4    1.57   57.20        57.135377

finally we have to calculagte the accuracy of the model. accuracy means how efficiently the model can predict the value.

R2 score is a metric that tells the performance of your model, not the loss in an absolute sense that how many wells did your model perform.

In [33]:
from sklearn.metrics import r2_score
accuracy=r2_score(weight,lr.predict(height))
print("the model accuracy is",accuracy*100,"%")

the model accuracy is 98.91969224457968 %

In [36]:
import pickle
pickle.dump(lr,open('model_2.pkl','wb'))

In [35]:
model = pickle.load(open('model_2.pkl','rb'))